<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poll details</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <div class="btn-group">
        <a href="/polls" class="btn btn-info">Back</a>
        <form action="/polls/<%= poll.id %>/delete" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
      <h2><%= poll.title %></h2>
      <br />
      <p><strong>Description:</strong> <%= poll.description %></p>
      <p><strong>Total vote:</strong> <%= poll.totalVote %></p>
      <form action="/polls/<%= poll._id %>" method="post">
        <table class="details-table">
          <thead>
            <tr>
              <th>Option</th>
              <th class="text-right">Vote</th>
              <th class="text-right">Resut</th>
            </tr>
          </thead>
          <tbody>
            <% for (const res of result) { %>
            <tr>
              <td>
                <input
                  style="cursor: pointer"
                  type="radio"
                  name="option"
                  value="<%= res._id %>"
                  id="<%= res._id %>"
                />

                <label style="cursor: pointer" for="<%= res._id %>"
                  ><%= res.name %></label
                >
              </td>
              <td class="text-right"><%= res.vote %></td>
              <td class="text-right"><%= res.percentage %> %</td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <br />
        <button class="btn btn-primary" type="submit">Submit vote</button>
      </form>
    </div>
  </body>
</html>
