<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket details</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <div class="btn-group">
        <a href="/tickets" class="btn btn-info">Back</a>
        <form action="/tickets/t/<%= ticket.id %>/delete" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
      <h2><%= ticket.id %></h2>
      <br />
      <p>
        <strong>Username:</strong>
        <a href="/tickets/u/<%= ticket.username %>"><%= ticket.username %></a>
      </p>
      <p><strong>Price:</strong> <%= ticket.price %></p>
    </div>
  </body>
</html>
