<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Winners</title>
    <link rel="stylesheet" href="./style.css" />
    <script
      src="https://kit.fontawesome.com/a9488ab298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="btn-group">
        <a href="/tickets" class="btn btn-info"
          ><i class="fa-solid fa-table-list"></i> Ticket list</a
        >
        <a href="/tickets/buy" class="btn btn-primary"
          ><i class="fa-solid fa-bag-shopping"></i> Buy ticket</a
        >
      </div>
      <h2>Winners</h2>
      <div style="overflow: auto">
        <table class="details-table">
          <thead>
            <tr>
              <th>Position</th>
              <th>Number</th>
              <th>Username</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < winners.length; i++) { %>
            <tr>
              <td>
                <i class="fa-solid fa-award"></i> <strong><%= i + 1 %></strong>
              </td>
              <td>
                <strong
                  ><a href="/tickets/t/<%= winners[i].id %>"
                    ><%= winners[i].id %></a
                  ></strong
                >
              </td>
              <td><%= winners[i].username %></td>
              <td class="text-right"><%= winners[i].price %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
