<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tickets</title>
    <link rel="stylesheet" href="./style.css" />
    <script
      src="https://kit.fontawesome.com/a9488ab298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="btn-group">
        <a href="/" class="btn btn-info"
          ><i class="fa-solid fa-house"></i> Home</a
        >
        <a href="/tickets/draw" class="btn btn-danger"
          ><i class="fa-solid fa-award"></i> Draw</a
        >
        <a href="/tickets/buy" class="btn btn-primary"
          ><i class="fa-solid fa-bag-shopping"></i> Buy Ticket</a
        >
      </div>
      <h2>Tickets</h2>
      <table class="details-table">
        <thead>
          <tr>
            <th>Number</th>
            <th>Username</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% for (const ticket of tickets) { %>
          <tr>
            <td>
              <strong
                ><a href="/tickets/t/<%= ticket.id %>"
                  ><%= ticket.id %></a
                ></strong
              >
            </td>
            <td>
              <strong
                ><a href="/tickets/u/<%= ticket.username %>"
                  ><%= ticket.username %></a
                ></strong
              >
            </td>
            <td class="text-right"><%= ticket.price %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
