<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tickets</title>
    <link rel="stylesheet" href="./style.css" />
    </style>
  </head>
  <body>
    <div class="container">
      <div class="btn-group">
        <a href="/" class="btn btn-info">Home</a>
        <a href="/tickets/buy"  class="btn btn-primary">Buy</a>
      </div>
      <h2>Tickets</h2>
      <br />
    <ul>
      <% for (const ticket of tickets) { %>
        <li>
        <strong><a href="/tickets/t/<%= ticket.id %>"><%= ticket.id %></a></strong>
        <strong><a href="/tickets/u/<%= ticket.username %>"><%= ticket.username %></a></strong>
        <span><%= ticket.price %></span>
      </li>
      <% } %>
    </ul>
    </div>
  </body>
</html>
