<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Tickets</title>
    <link rel="stylesheet" href="./style.css" />
    <script
      src="https://kit.fontawesome.com/a9488ab298.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="btn-group">
        <a href="/tickets" class="btn btn-info"
          ><i class="fa-solid fa-table-list"></i> Ticket list</a
        >
        <form
          action="/tickets/u/<%= tickets[0].username %>/delete"
          method="post"
        >
          <button type="submit" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i> Delete all
          </button>
        </form>
      </div>
      <h2>User Tickets</h2>
      <div style="text-align: right">
        <button class="btn btn-primary btn-small" id="editBtn">
          <i class="fa-regular fa-pen-to-square"></i> Edit all
        </button>
      </div>
      <table id="detailsTable" class="details-table">
        <thead>
          <tr>
            <th>Number</th>
            <th>Username</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% for (const ticket of tickets) { %>
          <tr>
            <td>
              <strong
                ><a href="/tickets/t/<%= ticket.id %>"
                  ><%= ticket.id %></a
                ></strong
              >
            </td>
            <td><%= ticket.username %></td>
            <td class="text-right"><%= ticket.price %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <form
        id="editForm"
        style="display: none"
        action="/tickets/u/<%= tickets[0].username %>"
        method="post"
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            value="<%= tickets[0].username %>"
            name="username"
            id="username"
          />
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="text"
            name="price"
            value="<%= tickets[0].price %>"
            id="price"
          />
        </div>
        <br />
        <div style="text-align: right">
          <button class="btn btn-primary" type="submit">
            <i class="fa-regular fa-floppy-disk"></i> Update all
          </button>
        </div>
      </form>
    </div>

    <script>
      const editBtn = document.getElementById('editBtn');
      const detailsTable = document.getElementById('detailsTable');
      const editForm = document.getElementById('editForm');

      let editOpen = false;
      editBtn.addEventListener('click', function (e) {
        if (!editOpen) {
          editBtn.innerHTML = '<i class="fa-solid fa-xmark"></i> Cancel';
          detailsTable.style.display = 'none';
          editForm.style.display = 'block';
          editOpen = true;
        } else {
          editBtn.innerHTML =
            '<i class="fa-regular fa-pen-to-square"></i> Edit';
          detailsTable.style.display = 'inline-table';
          editForm.style.display = 'none';
          editOpen = false;
        }
      });
    </script>
  </body>
</html>
