<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Tickets</title>
  </head>
  <body>
    <h3><%= tickets[0].username %>'s Tickets</h3>

    <ul>
      <% for (const ticket of tickets) { %>
      <li>
        <p>
          <a href="/tickets/t/<%= ticket.id %>"><%= ticket.id %></a>
        </p>
        <p><%= ticket.username %></p>
        <p><%= ticket.price %></p>
      </li>
      <% } %>
    </ul>
    <div>
      <p>Total tickets= <strong><%= total %></strong></p>
    </div>
  </body>
</html>
